body{
    background:url("image1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
.bgimage{
    color: aqua;
}
